# 🐍 Python (Django)
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# 🔥 Django & Migrations
*/migrations/
!*/migrations/__init__.py  # migrations-Ordner ignorieren, außer __init__.py

# 🧪 Tests & Coverage
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# 🚀 Virtuelle Umgebung (falls nicht Docker)
env/
venv/
*.env
.env.*
env_lin

# 📦 Python packaging
*.egg-info/
.eggs/
build/
develop-eggs/
dist/
pip-log.txt
pip-delete-this-directory.txt

# 🌐 Frontend (Node.js, falls nötig)
node_modules/
dist/
npm-debug.log
yarn-error.log

# 💻 IDE & Editor
.vscode/
.idea/

# 🐳 Docker
*.pid
*.tar
logs/
docker-compose.override.yml

# 🗄 Datenbanken
*.sqlite3
db.sqlite3
pgdata/
postgres_data/
*.dump

# 📂 Medien- und statische Dateien
media/
static/

# 📄 Sonstiges
.DS_Store
Thumbs.db
folder_tree.txt
